
<div class="row-fluid">
<div class="span2">
        <% if (user) { %>
            <h3>A few of your friends</h3>
            <ul id="friends" class="friends">
              <% req.friends.forEach(function(friend) { %>
                <li>
                  <!--<a href="https://www.facebook.com/<%= friend.id %>" target="_top">-->
                    <a href="/draw/<%= encodeURIComponent('https://graph.facebook.com/'+ friend.id + '/picture?type=large') %>">
                    <img src="https://graph.facebook.com/<%= friend.id %>/picture?type=square" alt="<%= friend.name %>">
                    <%= friend.name %>
                  </a>
                </li>
              <% }); %>
            </ul>
        <% } %>
</div>
<div class="span10">
      <% if (user) { %>
      <p id="picture" style="background-image: url(https://graph.facebook.com/<%= user.id %>/picture?type=normal)"></p>

      <div>
        <h1>Welcome, <strong><%= user.name %></strong></h1>
        <p class="tagline">
          This is your app
          <a href="<%= app.link %>" target="_top"><%= app.name %></a>
        </p>

        <div id="share-app">
          <p>Share your app:</p>
          <ul>
            <li>
              <a href="#" class="facebook-button" id="postToWall" data-url="<%= url() %>">
                <span class="plus">Post to Wall</span>
              </a>
            </li>
            <li>
              <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="<%= url() %>">
                <span class="speech-bubble">Send Message</span>
              </a>
            </li>
            <li>
              <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
                <span class="apprequests">Send Requests</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <% } else { %>
      <div>
        <h1>Welcome</h1>
        <div class="fb-login-button" data-scope="publish_actions,friends_photos,user_likes,user_photos,user_photo_video_tags,photo_upload,publish_stream,read_stream,status_update"></div>
      </div>
      <% } %>
</div>
 <% if (user) { %>
    <div id="yourSpan" class="span12">
            <script type="text/javascript">
            $(document).ready(function() {
                $("#yourSpan").spin();
                $("#yourPhotos").load("/me/photos",function() {
                     $("#yourSpan").spin(false);
                } );
            });
        </script>
            <h1>Your photos</h1>
            <ul id="yourPhotos" class="thumbnails">
              
            </ul>
    </div>
    <div id="friendSpan" class="span12">
        <script type="text/javascript">
            $(document).ready(function() {
                $("#friendSpan").spin();
                $("#friendPhotos").load("/friends/photos",function() {
                     $("#friendSpan").spin(false);
                } );
            });
        </script>
            <h1>Friends' photos</h1>
            <ul id="friendPhotos" class="thumbnails">
              
            </ul>
    </div>
<% } %>
</div>



